<div class="container">

       <h3>   Friends:</h3> <br>
          <% @user.friends.each do |friend|  %>
          <div class="card p-3 pl-5">
          <h5>Username: <%= friend.username%></h5>
                  <h5>Email: <%= friend.email%></h5>
</div>
<br>
          <%end%>
</div>