<% @users.each do |user|  %>
<div class="card" style="width: 18rem;">
    <%= display_avatar(user) %>
  <div class="card-body">
    <%= link_to user.username, user_path(user) %>
  </div>
</div>
<%end%>
