<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
    <h3 class="ml-5">User Information</h3>
    <br>
      <div class="card text-center" style="width: 18rem;">
        <%= display_avatar(@user) %>
        <div class="card-body">
          <h5 class="card-title"><%= @user.username %></h5>
          <p class="card-text">email: <%= @user.email %></p>
            <u class="underlined"><%= link_status(@user) %></u>
        </div>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
