<div class="container">
       <h3>   Friends:</h3> <br>
          <% show_user_friends.each do |name|  %>
                  <h5>Username: <%= name%></h5>
                  <h5>Email:: <%= search_friend_email(name)%></h5>
                  <br>
          <%end%>
</div>