<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Fakebook", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to 'Create post', new_post_path  %></li>
      </ul>
    </nav>
  </div>
</header>
