<div class="container">
    <%= form_for(@post) do |f| %>
    <div class="field">
        <%= f.text_field :content %>
    </div>

    <div class="actions">
            <%= f.submit "Create Post" %>
        </div>

    <div class="actions">
        <%= f.submit "Create Post" %>
    </div>
    <% end %>
</div>