
<div class="container">
<div class="container">
<a href="https://github.com/MephistoDevelop/fakebook" class="brand"><img src="https://files.slack.com/files-pri/T47CT8XPG-FQ6SA8NM6/socialbook.jpeg" width="140" height="100"></a>
</div>

  <h2>500</h2>
  <h1>Internal Server Error.</h1>

  <p>Something went wrong. Our technical team have been notified of the issue and we are looking into it. Please try again shortly.</p>

  <span class="go-back"><a href="/">Go back</a></span>
</div>