<div class="container">
 <a href="https://github.com/MephistoDevelop/fakebook" class="brand"><img src="https://files.slack.com/files-pri/T47CT8XPG-FQ6SA8NM6/socialbook.jpeg" width="140" height="100"></a>

  <h2>422</h2>
  <h1>The change you wanted was rejected.</h1>

  <p>Maybe you tried to change something you didn't have access to.</p>

  <span class="go-back"><a href="/">Go back</a></span>
</div>