<div class="container">
<h4>Ceate a Post</h4>
<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.text_field :content %>
  </div>

  <div class="actions">
    <%= f.submit "Create Post" %>
  </div>
<% end %>
</div>
