@import "bootstrap";
.navbar {
  background-color: #0077b5;
  color: black;
  a {
    color: whitesmoke;
    font-size: 18px;
    font-weight: bolder;
  }
}

a {
  color: whitesmoke;
  font-size: 18px;
  font-weight: bolder;
}
div.container a:hover {
  color: black;
  text-decoration: none;
}

body div.card a {
  color: black !important;
}

span a {
  color: black !important;
}

body div.container {
  margin-top: 10px;
}

ul {
  list-style: none;
  height: 100%;
  margin-bottom: 0px;
}
li {
  margin: 10px;
}
div.logo-text a {
  font-size: 28px;
}
.links a {
  font-size: 14px;
}
div .links a:hover {
  color: blue !important;
  text-decoration: underline !important;
}
.login-message {
  background-color: rgba($color: #09b83e, $alpha: 0.7);
  color: 34465d;
  font-weight: bolder;
}
#post-button {
  color: white;

  background-color: gray;

  margin: 10px;

  padding: 10px;
}
.menu-nav {
  margin: 0px auto;
}
