@import "bootstrap";
.navbar {
  background-color: gray;
  color: black;
}

a {
  color: whitesmoke;
  font-size: 18px;
  font-weight: bolder;
}

span a {
  color: black !important;
}

body div.container {
  margin-top: 10px;
}

ul {
  list-style: none;
  height: 100%;
  margin-bottom: 0px;
}
li {
  margin: 10px;
}
#post-button {
  color: white;

  background-color: gray;

  margin: 10px;

  padding: 10px;
}
